@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Montserrat', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],textarea {
    @apply w-full border my-1 py-2 px-4 mb-2 rounded-xl
}

p.error {
    @apply text-center capitalize mb-2 text-rose-500
}

button.primary {
    @apply p-2 rounded-xl text-white bg-indigo-500
}

button.delete {
    @apply inline-flex items-center gap-2 py-2 px-6 text-white bg-rose-400 rounded-full

}

.link-primary {
    @apply inline-flex items-center gap-2 py-2 px-6 text-white bg-indigo-500 rounded-full
}

textarea{
    min-height: 80px;
    max-height: 200px;
}

.disabled {
    @apply text-sm p-2 rounded-md text-zinc-800 bg-zinc-300
}

.status {
    @apply px-3 py-2 font-bold rounded-md
}

.status-waiting {
    @apply bg-amber-200 text-amber-700
}

.status-canceled {
    @apply bg-rose-200 text-rose-700
}

.status-paid {
    @apply bg-emerald-200 text-emerald-700
}

.modal-cancel {
    @apply px-4 py-3 flex flex-col items-center justify-center
    w-5/6 h-1/2 bg-rose-100 rounded-lg border-2 border-rose-500
}

.modal-pay {
    @apply px-4 py-3 flex flex-col items-center justify-center
    w-5/6 h-1/2 bg-emerald-100 rounded-lg border-2 border-emerald-500
}

.button-pay {
    @apply flex-grow w-full text-xl mt-2 p-2 rounded-xl text-white bg-emerald-500
}

.button-cancel {
    @apply flex-grow w-full text-xl mt-2 p-2 rounded-xl text-white bg-rose-500
}